*{
    font-size:1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background:#111;
    text-align:center;
    color:#B4DB44;
    line-height:100px;
    font-size:2em;
}

section.capa{
    color:#111;
    background:url(../img/bluecity.jpg)no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    border:2px solid red;
    width:100%;
    height:100%;
}

section.capa div.texto{
    text-align:center;
}

section.capa div.texto h1{
    text-transform:uppercase;
    font-size:5em;
    margin-bottom:-10px;
    color:#EEF1F3;
}

section.capa div.texto h3{
    color:#B4DB44;
    font-size:3em;
    text-transform:uppercase;
    
}

section.capa div.texto p{
    font-size:2em;
    color:#EEF1F3;
   
}

section.conteudo{
    background-color:#EEF1F3;
}

section.conteudo  li{
    list-style-image:url(../img/script.png);
   
}

footer{
    background:#111;
    text-align:center;
    color:#B4DB44;
    line-height:100px;
    font-size:1.5em;
}




